
{% extends 'base.html' %}

{% block content %}

<div class="row">
        <div class="col"></div>
        <div class="col col-xl-8 col-md-4 col-12">

<a class="btn btn-success" href="{% url 'bookmark:create' %}">create</a> <br><br>

<table class="table table-striped">
        <thead class="thead-dark">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Site Name</th>
                  <th scope="col">Link</th>
                  <th scope="col">Modify</th>
                  <th scope="col">Delete</th>
                </tr>
              </thead>
{% for object in object_list %}
<tr>
    <td>{{object.id}}</td>
    <td>
        <a href="{% url 'bookmark:detail' object.id %}"> {{object.site_name}} </a>
    </td>
    <td><a href="{{object.url}}">링크 이동</a></td>
    <td><a href="{% url 'bookmark:update' object.id %}">수정</a></td>
    <td><a href="{% url 'bookmark:delete' object.id %}">삭제</a></td>
    </tr>    

{% endfor %}

</div>
<div class="col">
    </div>
    </div>
{% endblock %}